<%= link_to "Logout", session_path(@user), method: :delete, data: { confirm: 'Are you sure you want to Logout?' } %>


<p> Welcome <%= @user.name.titleize %> </p>

</br>
<div>
  <% if flash[:error].present? %>
    <p style="color:red"> <%= flash[:error] %> </p>
  <% elsif flash[:success].present? %>
    <p style="color:green"> <%= flash[:success] %> </p>
  <% end %>
</div>

<style>
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}
</style>

<h3> Today's events </h3>
<% if @user.events.pending.empty? %>
  <%= button_to 'Clock in now', { action: 'create', controller: 'events', user_id: @user.id }, method: :post %>
</br>
 <div> or choose custom time </div>
</br>
  <div> 
    <%= form_tag(action: 'create', controller: 'events', user_id: @user.id) do %>
      <%= time_select 'clock_in', 'clock_in' %>
      <%= submit_tag %>
    <% end %>
  </div>
<% end %>
</br>
</br>

<% if @user.events.present?  %>
  <table style="width:400px">
    <tr> 
      <th> Clock- In </th>
      <th> Clock- Out </th>
      <th></th>
    </tr>
    <% @user.events.each do |event| %>
      <tr>
        <td> <%= event.clock_in %> </td>
        <td> 
          <% if event.clock_out.present? %>
            <%= event.clock_out %> 
            <p> Or, do you want to edit? </p>
          <% else %>
            <%= button_to 'Clock - Out now', { action: 'update', controller: 'events', user_id: @user.id, id: event.id }, method: :put %>
            <p> Or, choose custom time? </p>
          <% end %>
          

          <%= form_tag("/user/#{@user.id}/events/#{event.id}", method: :put) do %>
            <%= datetime_select 'clock_out', 'clock_out' %>
            <%= submit_tag %>
          <% end %>
          
        </td>
        <td>
          <%= button_to 'Delete', { action: 'destroy', controller: 'events', user_id: @user.id, id: event.id }, method: :delete , data: { confirm: 'Are you sure you want to delete?' }%>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
